#highScoresList{
    list-style: none;
    padding-left: 0;
    margin-bottom: 4rem;

}

.high-scores{
    font-size: 2.8rem;
    margin-bottom: 0.9rem;
}

.high-scores:hover{
    transform: scale(1.025);
}
